<html>
    <head>
        <meta charset="utf8">
        <title>Connection success !</title>
    </head>
    <body>
        <a href="javascript: window.parent.closeOAuthModal();">CLOSE ME</a>
    <script>
        window.parent.closeOAuthModal();
    </script>
    </body>
</html>